<p>Titulo: {{input type="text" value=mbook.title}}</p>
<p>Precio: {{input type="text" value=mbook.price}}</p>

<p>Imagen URL: {{input type="text" value=mbook.img_url}}</p>


<button {{action 'guardar'}} >Guardar</button>
<button {{action 'eliminar'}} >Eliminar</button>


