<h1>CRUD</h1>
{{#each model as |mbook|}}
	{{mbook-crud mbook=mbook 
		onGuardar=(action 'onGuardar' mbook)
		onEliminar=(action 'onEliminar' mbook)}}
{{/each}}

<button {{action 'nuevo'}}>Nuevo</button>